@using SIGCOMT.Common.Constantes
@using SIGCOMT.Resources

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <title>SIGCOMT - @ViewBag.Title</title>

        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link href="@Url.Content("~/Content/css/style.default.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
    
        @RenderSection("StyleContent", false)

        <style type="text/css">
            /* Styles para el paginado*/
            div.dataTables_wrapper div.left {
                 float: left;
            }

            div.dataTables_wrapper div.right {
                 float: right;
            }

            /* Styles para la selección de fila de la tabla*/
            table.dataTable tbody tr:hover {
                 background-color: #F9F1E3;
            }

            table.dataTable tbody tr.selected {
                 background-color: #F0BE55;
            }

            table.dataTable tbody tr:hover.selected {
                 background-color: #F0B944;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="headerwrapper">
                <div class="header-left">
                    <a href="@Url.Action("Index", "Load", new { area = ""})" class="logo">
                        <img src="@Url.Content("~/images/logo-primary.png")" alt="" />
                    </a>
                    <div class="pull-right">
                        <a href="" class="menu-collapse">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="pull-right">
                  
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="mainwrapper">
                <div class="leftpanel">
                    <div class="media profile-left">
                        <a class="pull-left profile-thumb" href="#">
                            <img class="img-circle" src="@Url.Content("~/images/profile.png")" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">@ViewData[MasterConstantes.UsuarioActual]</h4>
                            <small>
                                <a href="@Url.Action("LogOut", "Account", new { area = "" })"><i class="glyphicon glyphicon-log-out mr5"></i>@Master.CerrarSesion</a>
                            </small>
                        </div>
                    </div>
                
                    @Html.Action("Index", "Menu", new { area = ""})

                </div>
                <div class="mainpanel">
                    <div class="pageheader">
                        <div class="media">
                            @RenderSection("pageheader", false)
                        </div>
                    </div>

                    <div class="contentpanel">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
        
        <div class="modal fade" id="commonConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="alert alert-info fade in nomargin">
                        <h4>TITLE</h4>
                        <p>MESSAGE</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info callback-btn">BUTTONCALBACK</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal">@Master.No</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="@Url.Content("~/Content/js/jquery-1.11.1.min.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery-migrate-1.2.1.min.js")"></script>
        <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Content/js/modernizr.min.js")"></script>
        <script src="@Url.Content("~/Content/js/pace.min.js")"></script>
        <script src="@Url.Content("~/Content/js/retina.min.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.cookies.js")"></script>
        <script src="@Url.Content("~/Content/js/custom.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.validate.min.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.custom.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.gritter.min.js")"></script>
        <script src="@Url.Content("~/Content/js/utilsCommon.js")"></script>
        
        @RenderSection("ScriptContent", false)

    </body>

</html>