@using OSSE.Web.App_GlobalResources
@using Resources
@model OSSE.Web.Models.ChangePasswordModel

@using (Html.BeginForm("ChangePassword", "Account", new { area = "" }, FormMethod.Post, new { id = "frmModel" }))
{
    <div>
        @{
            ViewContext.FormContext.ValidationSummaryId = "valSumModel";
        }
        @Html.ValidationSummary("", new Dictionary<string, object> { { "id", "valSumModel" }, { "class", "merror" }, { "style", "display:none;" } })

        <div class="MhiosysForm grupocontenido">
            <table id="tableChange" class="tablelayoutI">
                <tr>
                    <td class="right" style="width: 130px;">
                        <b><label>@Usuario.OldPassword :</label></b>
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.OldPassword)
                    </td>
                </tr>
                <tr>
                    <td class="right" style="width: 130px;">
                        <b><label>@Usuario.NewPassword : </label></b>
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.NewPassword)
                    </td>
                </tr>
                <tr>
                    <td class="right" style="width: 130px;">
                        <b><label>@Usuario.ConfirmPassword :</label></b>
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.ConfirmPassword)
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function() {
        $.validator.unobtrusive.parse('#frmModel');
        $('#OldPassword').focus();

        VOGUE.CrearTooltipError({
            formulario: '#frmModel'
        });
    });

    function Guardar() {
        var deffered = new $.Deferred();
        
        $.post($("#frmModel").attr("action"), $("#frmModel").serialize(), function(response) {
            VOGUE.msgConfirmPopup(
                'frmModel',
                response.Success,
                response.Message,
                function () {
                    deffered.resolve();
                }, '@Usuario.ChangePassword');
        });

        return deffered.promise();
    }

    function ConfirmarGuardarContraseña(popupObject) {
        if ($("#frmModel").validate().form()) {
            jQuery("#valSumModel").hide();

            var parametrosConfirm = {
                dialogText: '@Master.Confirmacion',
                OkHandlerFunction: Guardar,
                dialogTitle: '@Master.TituloAlerta',
                dialogOkText: '@Master.Aceptar',
                dialogCancelText: '@Master.Cancelar'
            };
            var esperaProceso = VOGUE.confirm(parametrosConfirm);
            esperaProceso.done(function () {
                $(popupObject).dialog("destroy");
            });
        } else {
            $('#frmModel').qtip('show');
        }
    }
</script>
