@using Resources
@using SIGCOMT.DTO
@model List<ModuloDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

@section StyleContent
{
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" type="text/css" />
}

@section pageheader
{
    <div class="pageicon pull-left">
        <i class="fa fa-home"></i>
    </div>
    <div class="media-body">
        <h4>Formulario</h4>
    </div>
}

<select id="selFormulario" data-placeholder="Choose One" class="width300">
    <option value="">@Master.Seleccionar</option>

    @if (Model != null)
    {
        foreach (var modulo in Model)
        {
            <optgroup label="@modulo.Nombre">
                @foreach (var operacion in modulo.Operaciones)
                {
                    <option value="@operacion.Id">@operacion.Nombre</option>
                }
            </optgroup>
        }
    }
    
</select>

@section ScriptContent
{
    <script src="@Url.Content("~/Content/js/select2.min.js")"></script>

    <script type="text/javascript">
        
        jQuery(document).ready(function() {
            jQuery("#selFormulario").select2();
        });
        
    </script>
}