@using SIGCOMT.Common.Constantes
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

@section StyleContent
{
    <link href="@Url.Content("~/Content/css/style.datatables.css")" rel="stylesheet" type="text/css" />
    <link href="//cdn.datatables.net/responsive/1.0.1/css/dataTables.responsive.css" rel="stylesheet">
}

@section pageheader
{
    <div class="pageicon pull-left">
        <i class="fa fa-home"></i>
    </div>
    <div class="media-body">
        <h4>Usuarios</h4>
    </div>
}

<table id="grillaUsuarioList" class="table table-striped table-bordered responsive">
    <thead class="">
        <tr>
            <th style="width:65px;">
                <a href="@Url.Action("Crear" )" class="btn btn-primary btn-xs">
                    <i class="fa fa-pencil"></i> Agregar
                </a>
            </th>
            <th>Username</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Idioma</th>
        </tr>
    </thead>
</table>

@section ScriptContent
{
    <script src="@Url.Content("~/Content/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/js/dataTables.bootstrap.js")"></script>
    <script src="//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/api/fnFilterOnReturn.js"></script>

    <script type="text/javascript">

        jQuery(document).ready(function() {

            var opciones = {
                grilla: '#grillaUsuarioList',
                languageUrl: "@Url.Content(string.Format("~/Content/js/languages/dataTables.{0}.json", ViewData[MasterConstantes.Idioma]))",
                url: '@Url.Action("Listar", "Usuario", new {area = "Administracion"})',
                columns: [
                    {
                        "data": function(oObj) {
                            var btnActualizar = '<a href="javascript:;" data-toggle="tooltip" title="Modificar" class="btn-success btn-xs actualizarReg"><i class="fa fa-edit"></i></a>';
                            var btnEliminar = '<a href="javascript:;" data-toggle="tooltip" title="Eliminar" class="btn-danger btn-xs eliminarReg"><i class="fa fa-times"></i></a>';
                            return btnActualizar + '&nbsp;' + btnEliminar;
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    { "data": "UserName", "name": "UserName" },
                    { "data": "Email", "name": "Email" },
                    { "data": "Nombre", "name": "Nombre" },
                    { "data": "Apellido", "name": "Apellido" },
                    { "data": "Telefono", "name": "Telefono" },
                    { "data": "Idioma", "name": "Idioma" }
                ],
                crud: {
                    actualizar: {
                        urlActualizar: '@Url.Action("Edit", "Usuario", new { area = "Administracion"})/',
                        getKey: function(rowData) {
                            return rowData["Id"];
                        }
                    }
                }
            };

            Utils.Grilla(opciones);
        });


    </script>
}