@using SIGCOMT.Common.Constantes
@using SIGCOMT.Resources
@model Dictionary<string, List<SIGCOMT.Common.DataTable.ValorHomologacion>>

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

@section StyleContent
{
    <link href="@Url.Content("~/Content/css/style.datatables.css")" rel="stylesheet" type="text/css" />
    <link href="//cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" type="text/css" />
}

@section pageheader
{
    <div class="media-body">
        <h3><i class="fa fa-home mr5"></i>Usuarios</h3>
    </div>
}

<table id="grillaUsuarioList" class="table table-bordered table-responsive">
    <thead class="">
        <tr>
            <th style="width:65px;">
                <a href="@Url.Action("Crear", "Usuario", new { area = "Administracion"})" class="btn btn-primary btn-xs">
                    <i class="fa fa-pencil"></i> Agregar
                </a>
            </th>
            <th>Username</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Idioma</th>
        </tr>
    </thead>
</table>

@section ScriptContent
{
    <script src="@Url.Content("~/Content/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/js/dataTables.bootstrap.js")"></script>
    <script src="//cdn.datatables.net/responsive/1.0.3/js/dataTables.responsive.js"></script>
    <script src="@Url.Content("~/Content/js/fnFilterOnReturn.js")"></script>
    <script src="@Url.Content("~/Content/js/select2.min.js")"></script>

    <script type="text/javascript">

    jQuery(document).ready(function () {

        var opciones = {
            grilla: '#grillaUsuarioList',
            textAll: '@Master.Todos',
            languageUrl: "@Url.Content(string.Format("~/Content/js/languages/dataTables.{0}.json", ViewData[MasterConstantes.Idioma]))",
            url: '@Url.Action("Listar", "Usuario", new {area = "Administracion"})',
            columns: [
                {
                    "data": function (oObj) {
                        var btnActualizar = '<a href="javascript:;" data-toggle="tooltip" title="Modificar" class="btn-success btn-xs actualizarReg"><i class="fa fa-edit"></i></a>';
                        var btnEliminar = '<a href="javascript:;" data-toggle="tooltip" title="Eliminar" class="btn-danger btn-xs eliminarReg"><i class="fa fa-times"></i></a>';
                        return btnActualizar + '&nbsp;' + btnEliminar;
                    },
                    "orderable": false,
                    "searchable": false
                },
                { "data": "UserName", "name": "UserName" },
                { "data": "Email", "name": "Email" },
                { "data": "Nombre", "name": "Nombre" },
                { "data": "Apellido", "name": "Apellido" },
                { "data": "Telefono", "name": "Telefono" },
                { "data": "Idioma", "name": "IdiomaId", "orderable": false }
            ],
            dataAjax: {
                homologaciones: [
                    {
                        columna: 'IdiomaId',
                        operador: 'eq',
                        valores: JSON.parse('@Html.Raw(Json.Encode(Model["IdiomaId"]))')
                    }
                ]
            },
            crud: {
                getKey: function (rowData) {
                    return rowData.Id;
                },
                actualizar: {
                    urlActualizar: '@Url.Action("Edit", "Usuario", new {area = "Administracion"})'
                },
                eliminar: {
                    urlEliminar: '@Url.Action("Eliminar", "Usuario", new { area = "Administracion"})',
                        alertEliminar: {
                            title: 'Usuario',
                            message: 'Desea eliminar el usuario?',
                            textButtonCommand: '@Master.Si'
                        }
                    }
                }
            };

            Utils.Grilla(opciones);
        });
    </script>
}